<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link href="css/doctor.css" type="text/css" rel="stylesheet"/>

    {{#analytics}}
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{analytics}}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {{/analytics}}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#" style="background-image:url({{background}})"></a>
            {{#travis}}
            <a href="{{travis}}" class="travis">
                <img src="{{travis}}.png?branch=master"/></a>
            {{/travis}}
        </div>
    </div>
    {{#github}}
    <a id="github-ribbon" href="https://github.com/DimitarChristoff/Epitome"><img alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    {{/github}}
</div>
<div id="nav">
    {{#twitter}}
    <div class="twitter extra">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 162px; height: 20px;"
                src="https://platform.twitter.com/widgets/follow_button.html?screen_name={{twitter}}&amp;show_count=false"></iframe>

    </div>
    {{/twitter}}
    <ul id="sections"></ul>
    {{#github}}
    <div class="extra" id="github">
        <a href="{{github}}">Source on Github</a>
    </div>
    <div class="extra" id="github-issues">
        <a href="{{github}}issues">Issues</a>
    </div>
    {{/github}}
</div>
<div id="content" class="container">
    {{&body}}
</div>
<script src="js/mootools-yui-compressed.js"></script>
<script src="js/moostrap-scrollspy.js"></script>
<script src="js/prettify.js"></script>
<script src="js/doctor.js"></script>
</body>
</html>